.banner-backgorund{
    background-image: url(../../img/background.jpg);
    opacity: 50;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}

.banner-backgorund{
    background-color:#021b27;

}

.background-image{

}